.playwrite-gb-j-font {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
}
.belgrano {
  font-family: "Belgrano", serif;
  font-weight: 400;
  font-style: normal;
}
.bangers {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
.averia-sans-libre {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.asap {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.arvo {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.andika {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.almendra {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}
.acme {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.abril-fatface {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.caveat{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lobster {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lilita-one {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.chakra-petch {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.archivo-black {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.updock {
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fira-sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.pt-serif {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.bona-nova-sc {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-highlight {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 400;
  font-style: normal;
}
.zilla-slab {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}
.yanone-kaffeesatz {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.vollkorn {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.taviraj {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}
.tangerine {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}
.spectral {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}
.skranji {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
}
.signika {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
.share-tech-mono {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.sevillana {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}
.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.overpass {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.metamorphous {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}
.merriweather {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.macondo {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.lusitana {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
}
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.knewave {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}
.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.kameron {
  font-family: "Kameron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.josefin-slab {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.istok-web {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.hammersmith-one {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.glegoo {
  font-family: "Glegoo", serif;
  font-weight: 400;
  font-style: normal;
}
.gidugu {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fira-sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fira-mono {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.fanwood-text {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: normal;
}
.expletus-sans {
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.exo {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.enriqueta {
  font-family: "Enriqueta", serif;
  font-weight: 400;
  font-style: normal;
}
.eczar {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.didact-gothic {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.delius-swash-caps {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
.cutive-mono {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.coda {
  font-family: "Coda", system-ui;
  font-weight: 400;
  font-style: normal;
}
.cardo {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}
.cabin-sketch {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bungee {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bree-serif {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.black-han-sans {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}